body {
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
    background-color: rgb(37,69,100);
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
    font-family: Helvetica, Tahoma, Tahoma, Verdana, sans-serif;
    color: white;
    padding-right: 20px;
}

.menu {
    display: inline-block;
    float: right;
    list-style-type: none;
    vertical-align: middle;
}

.menu-items {
    color: white;
    text-transform: uppercase;
    font-family: Tahoma, Verdana, sans-serif, sans-serif;
    font-size: 80%;
    display: inline-block;
    float: right;
    margin-right: 30px;
    /*border: 1px solid red;*/
    vertical-align: middle;
    padding: 5px;
}

.with-down-arrow::after {
    font-size: 60%;
    content: "\25BC";
    margin-right: 0px;
    margin-left: 3px;
    font-family: Arial;
    color: white;
}

.menu-items:hover {
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
}

.menu-items:active {
    background-color: rgb(253,155,39);
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

td {
    /*border: 1px solid red;*/
}

td.first-row {
    /*border: 1px solid red;*/
    text-align: right;
}

.user-ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    /*border: 1px solid red;*/
}

.user {
    margin: 0;
    padding: 5px;
    display: inline-block;
    list-style-type: none;
    /*border: 1px solid red;*/
}
.user::after {
    font-size: 60%;
    content: "\25BC";
    margin-right: 0px;
    margin-left: 3px;
    font-family: Arial;
    color: white;
}

.user:hover {
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
}

.user:active {
    background-color: rgb(253,155,39);
    border-radius: 5px;
    cursor: pointer;
}

.bell {
    display: inline-block;
    /*border: 1px solid red;*/
    vertical-align: middle;
    margin-right: 25px;
}

.search {
    margin-right: 30px;
    display: inline-block;
    height: 60px;
    /*border: 1px solid red;*/
    border-radius: 3px;
}

#search-form {
    display: inline-block;
}

#search-input {
    min-width: 200px;
    min-height: 25px;
    border: 1px solid grey;
    border-radius: 5px;
    text-indent: 5px;
    color: darkblue;
    margin-top: 10px;
    font-size: 100%;
}

#submit-button {
    position:relative;
    left:-34px;
    top: -2px;
    display: inline-block;
    border-radius: 0 5px 5px 0;
    background-color: transparent;
    min-height: 27px;
    min-width: 25px;
    border-left: 1px solid grey;
    border-right: none;
    border-top: none;
    border-bottom: none;
    vertical-align: middle;
    background-image: url('images/magniglass.png');
    background-repeat:no-repeat;
    background-size:20px 20px;
    background-position:center, center;
}

#submit-button:hover {
    background-color: lightblue;
}

